@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --outline: 40%;
}

.glorble-body {
    height: 150px;
    width: 150px;
    border-radius: 100%;
}

.glorble-outline {
    opacity: var(--outline);
    background: radial-gradient(transparent, black)
}

.glorble-feet {
    width: 60px;
    height: 30px;
    border-radius: 10rem 10rem 0 0;
}

.glorble-feet-outline {
    opacity: var(--outline);
    background: radial-gradient(transparent, black)
}

.glorble-horn-right {
    transform: rotate(45deg);
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

.glorble-horn-left {
    transform: rotate(-45deg) rotateY(180deg);
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

.death {
    animation-name: fadeDeath;
    animation-duration: 2.75s;
    animation-iteration-count: 1;
}

@keyframes fadeDeath {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

.glorble-move {
    animation: move 4s linear infinite, waddle 0.25s linear infinite;
}

@keyframes move {
    0% {left: -20%;}
    100% {left: 100%;}
}

@keyframes waddle {
    0% {transform: rotate(10deg);}
    50% {transform: rotate(-10deg);}
    100% {transform: rotate(10deg);}
}
