@tailwind base;
@tailwind components;
@tailwind utilities;

.glorble-body {
    height: 150px;
    width: 150px;
    border-radius: 100%;
}

.glorble-feet {
    width: 60px;
    height: 30px;
    border-radius: 10rem 10rem 0 0;
}

.glorble-horns {
    /*width: 0;*/
    /*height: 0;*/
    /*border-top: 10px solid transparent;*/
    /*border-bottom: 10px solid transparent;*/
    /*border-right: 10px solid;*/
}